[push]
	default = simple
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[credential]
	helper = /usr/bin/gp credential-helper
[safe]
	directory = *
[user]
	name = bsdfan
	email = bsdfan@users.noreply.github.com
